body {
    padding-top: 56px;
    background-color: #e0e0e0;
}

.ConteudoLateralEsquerda {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.ConteudoPrincipalCentral {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.EspacoVazio {

}

.ConteudoDaesquerda {
    height: 90%;
    width: 90%;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-color: white;
    padding-top: 25px;
    /* padding-left: 10px; */
}
.ConteudoDaesquerda button{
    border-radius: 0;
}

.ConteudoPrincipal{
    overflow: auto;
    padding: 20px;
    height: 90%;
    width: 98%;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-color: white;
}

.TabelaDeAlunos{
    width: 100%;
    border-radius: 10px;
    background-color: #e0e0e0;
}

.theadDaTabelaDeAlunos{
    background-color: #949090; 
}